<%= render "shared/tabs" %>
<section class="l-adding main">
  <div class="l-constrained-small">
    <h2>Si vous êtes freelance Ajoutez votre compte LinkedIn</h2>
    <%= form_tag( @authorize_url, method: :get,authenticity_token: false, enforce_utf8: false) do %>
      <input type="hidden" name="redirect_uri" value="<%=@callback%>">
      <input type="hidden" name="oauth_token" value="<%=@oauth_token%>">
      <button type="submit" style="position: relative" class="">Ajoutez votre compte LinkedIn</button>
    <% end %>
  </div>
</section>
<section class="l-rockstar">
  <div class="l-constrained-small centered">
    <% if !@linkedins.blank? %>
    <% @linkedins.each_with_index do |item,index| %>
    <div class="rockstar" id="rockstar-<%= item.linkedin_id %>">
      <div class="container-avatar">
        <a href="<%= item.linkedin_url %>" rel="nofollow" target="_blank">
          <%= image_tag item.avatar_url, alt: item.last_name, lazy: true, class: 'avatar' %>
        <div class="container-avatar-index"><%= index+1 %></div>
      </div>
      <div class="rockstar-description">
        <a class="link-freelance" href="<%= item.linkedin_url %>" rel="nofollow" target="_blank">
          <strong class="name"><%= item.first_name %>&nbsp;<%= item.last_name %></strong>
          <i class="icon ion-social-linkedin"></i>
        </a>
        <small class="location"><%= item.location %></small>
        <p class="bio">
          <% if not item.bio.blank? %>
            <%= item.bio %><br>
          <% end %>
          <% if not item.blog.blank? %>
            <a href="<%= item.blog %>"><%= item.blog %></a><br>
          <% end %>
          <span class='followers'>
            <%= item.followers_count %><% if item.num_connections_capped %>+<% end %> abonnés
          </span>
        </p>
      </div>
    </div>
    <% end %>
    <% else %>
    <p>Il n'y a aucun freelance pour le moment, soyez le premier !</p>
    <% end %>
  </div>
</section>
