<%= render "shared/tabs" %>

<section class="l-adding main">
  <div class="l-constrained-small">
    <h2>Si vous êtes freelance ajoutez votre nom Dribbble ci-dessous</h2>
    <%= form_tag("/dribbblers") do %>
      <div id="pseudo-form" style="position:relative">
        <input type="text" id="pseudo" name="pseudo" placeholder="Votre pseudo Dribbble" value="" autocomplete="off">
        <button type="submit" class="button postfix">Ok</button>
      </div>
    <% end %>
  </div>
</section>

<section class="l-rockstar">
  <div class="l-constrained-small centered">
    <% if !@dribblers.blank? %>
<% @dribblers.each_with_index do |item,index| %>
  <div class="rockstar" id="rockstar-<%= item.username %>">
   <div class="container-avatar">
    <a href="https://dribbble.com/<%= item.username %>" rel="nofollow" target="_blank">
      <%= image_tag item.picture, alt: item.username, lazy: true, class: 'avatar' %>
    <div class="container-avatar-index"><%= index+1 %></div>
  </div>
  <div class="rockstar-description">
    <a class="link-freelance" href="https://dribbble.com/<%= item.username %>" rel="nofollow" target="_blank">
     <strong class="name"><%= item.name %></strong>
     <i class="icon ion-social-dribbble"></i> <%= item.username %>
   </a>
   <small class="location"><%= item.location %></small>
   <p class="bio"><%= item.bio.html_safe %><br><span class='followers'><%= item.followers %> abonnés</span></p>
  </div>
  </div>
<% end %>
<% else %>
<p>Il n'y a aucun freelance pour le moment, soyez le premier !</p>
<% end %>
  </div>
</section>

