<p>Merci nous allons examiner le pseudo que vous nous avez soumis !
À bientôt sur FreelanceBoost.
</p>
<h1><%=@name%> (<%=@screen_name%>)</h1>
<img src='<%=@img_url%>'>
<p><%=@description%></p>
<p>tweet_count: <%=@tweet_count%></p>
<p>retweet_count: <%=@retweet_count%></p>
<p>follower_count: <%=@follower_count%></p>
<p>friends_count: <%=@friends_count%></p>
<p>listed_count: <%=@listed_count%></p>
<p>verified: <%=@verified%></p>
<p>rank:  <%= @rank %> </p>
<p>location: <%= @location %></p>