<section class="l-intro">
  <div class="l-constrained-small centered">
    <h1>Les 100 freelances francophones les plus influents sur Twitter</h1>  
</div>  
</section>
  <footer class="l-footer">
    <div class="l-constrained">
      <div class="footer-share">
        <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/tweet_button.1409790579.html#_=1410268970551&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=fr&amp;original_referer=http%3A%2F%2Ffreelanceboost.fr%2F&amp;size=m&amp;text=Recevez%20chaque%20semaine%20un%20conseil%20pour%20lancer%20ou%20d%C3%A9velopper%20votre%20activit%C3%A9%20de%20%23freelance&amp;url=http%3A%2F%2Fclassemment.freelanceboost.fr&amp;via=freelanceboost" class="twitter-share-button twitter-tweet-button twitter-share-button twitter-count-horizontal" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 119px; height: 20px;"></iframe>
        <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        </script>       
        </div>
      </div>
    </div>
  </footer>

<section class="l-rockstar">
  <div class="l-constrained-small centered">
    <% if !@rockstars.blank? %>
<% @rockstars.each_with_index do |item,index| %>  
  <div class="rockstar" id="rockstar-<%= item.pseudo %>">
   <div class="container-avatar">
    <a href="https://twitter.com/intent/follow?screen_name=<%= item.pseudo %>" rel="nofollow" target="_blank"><img class="avatar" src="<%= item.url_img %>"></a>
    <div class="container-avatar-index"><%= index+1 %></div>
  </div>    
  <div class="rockstar-description">
    <a class="link-freelance" href="https://twitter.com/intent/follow?screen_name=<%= item.pseudo %>" rel="nofollow" target="_blank">
     <strong class="name"><%= item.name %></strong>
     @<%= item.pseudo %>
   </a>
   <small class="location"><%= item.location %></small>
   <p class="bio"><%= item.desc %><br><span class='followers'><%= item.follower_count %> abonnés</span></p>
  </div>
  </div>
<% end %>
<% else %>
<p>Il n'y a aucun freelance pour le moment, soyez le premier !</p>
<% end %>
  </div>  
</section>

<section class="l-adding">
  <div class="l-constrained-small">
    <h2>Si vous êtes freelance ajoutez votre pseudo Twitter ci-dessous</h2>
    <%= form_tag("/rockstars") do %>
      <div id="pseudo-form" class="row">
        <div class="large-7 columns centered">
          <div class="row collapse">
            <div class="small-10 large-10 medium-10 columns">
              <%= text_field_tag :pseudo, nil, placeholder: "Votre pseudo twitter" %>
            </div>
            <div class="small-2 large-2 medium-2 columns">
              <button type="submit" class="button postfix">Ok</button>
            </div>
          </div>
        </div>    
      </div>
    <% end %>  
  </div>  
</section>