<h1>Les freelances les plus influents sur Twitter</h1>
<p>Si vous aussi vous êtes freelance, rendez-vous tout en bas nous soumettre votre pseudo Twitter</p>

<% if !@rockstars.blank? %>
  <% for item in @rockstars %>	
	<div id="rockstar-<%= item.pseudo %>">
		<img class="avatar lazy" src="<%= item.url_img %>">
		<a href="https://twitter.com/intent/follow?screen_name=<%= item.pseudo %>" rel="nofollow" target="_blank">
			<strong class="name"><%= item.name %></strong>
			@<%= item.pseudo %>
		</a>
		<em><%= item.location %></em>
		<p class="bio"><%= item.desc %></p>
	</div>
  <% end %>
<% else %>
 Il n'y a aucun freelance pour le moment, soyez le premier :) !?
<% end %>

<%= form_tag("/rockstars") do %>
 <%= text_field_tag :pseudo %>
<% end %>