<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Les 100 freelances francophones<br> les plus influents sur Twitter - FreelanceBoost</title>
	<link rel="icon" href="/favicon.ico" type="image/x-icon"/>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "vendor/modernizr" %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>		
	<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
	<%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <script src="//load.sumome.com/" data-sumo-site-id="a4ccc88e31ec75718c5f2c7b96eab0b33bcd4282adc1caff6dcdd81ba61f4595" async></script>

</head>
<body>

	<div class="row main">
		<%= yield %>
	</div>				

  <footer class="l-footer">
    <div class="l-constrained">
      <div class="footer-share">
        <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/tweet_button.1409790579.html#_=1410268970551&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=fr&amp;original_referer=http%3A%2F%2Ffreelanceboost.fr%2F&amp;size=m&amp;text=Recevez%20chaque%20semaine%20un%20conseil%20pour%20lancer%20ou%20d%C3%A9velopper%20votre%20activit%C3%A9%20de%20%23freelance&amp;url=http%3A%2F%2Ffreelanceboost.fr&amp;via=freelanceboost" class="twitter-share-button twitter-tweet-button twitter-share-button twitter-count-horizontal" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 119px; height: 20px;"></iframe>
        <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        </script>
        <div class="fb-like fb_iframe_widget" data-href="https://www.facebook.com/freelanceboost" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;href=https%3A%2F%2Fwww.facebook.com%2Ffreelanceboost&amp;layout=button_count&amp;locale=fr_CA&amp;sdk=joey&amp;send=false&amp;show_faces=true&amp;width=450"><span style="vertical-align: bottom; width: 93px; height: 20px;"><iframe name="f9e3cbda" width="450px" height="1000px" frameborder="0" allowtransparency="true" scrolling="no" title="fb:like Facebook Social Plugin" src="http://www.facebook.com/plugins/like.php?app_id=&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FZEbdHPQfV3x.js%3Fversion%3D41%23cb%3Df210be5e7c%26domain%3Dfreelanceboost.fr%26origin%3Dhttp%253A%252F%252Ffreelanceboost.fr%252Ff113dfd378%26relation%3Dparent.parent&amp;href=https%3A%2F%2Fwww.facebook.com%2Ffreelanceboost&amp;layout=button_count&amp;locale=fr_CA&amp;sdk=joey&amp;send=false&amp;show_faces=true&amp;width=450" style="border: none; visibility: visible; width: 93px; height: 20px;" class=""></iframe></span></div>
        <div class="footer-gplus">
          <div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 120px; height: 20px; background: transparent;"><iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 120px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1410268970304" name="I0_1410268970304" src="https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&amp;size=medium&amp;annotation=inline&amp;width=120&amp;origin=http%3A%2F%2Ffreelanceboost.fr&amp;url=http%3A%2F%2Ffreelanceboost.fr%2F&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.fr.3xktTzmJKxY.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Ft%3Dzcms%2Frs%3DAItRSTNN8kH307CzXK7eQO_smQbul_dNMA#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I0_1410268970304&amp;parent=http%3A%2F%2Ffreelanceboost.fr&amp;pfname=&amp;rpctoken=53286545" data-gapiattached="true" title="+1"></iframe></div>
        </div>
        <br><br>
        <p>Tous droits réservés <a href="http://freelanceboost.fr/">FreelanceBoost</a></p>
      </div><!-- .footer-block -->
    </div><!-- .l-constrained -->
  </footer>

</body>
</html>