<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title><%=@title%> | FreelanceBoost</title>
	<link rel="icon" href="/favicon.ico" type="image/x-icon"/>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
	<%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<%= analytics_init if Rails.env.production? %>
	<meta property="og:url"           content='<%="#{request.protocol}#{request.host_with_port}#{request.fullpath}"%>' />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="<%=@title%>" />
    <meta property="og:description"   content="<%=@title%>" />
    <meta property="og:image"         content="http://freelanceboost.fr/wp-content/themes/freelanceboost-blog/img/logo-freelanceboost.png" />
</head>
<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

	<div class="row main">
		<%= yield %>
	</div>
  <footer class="l-footer">
    <p>Tous droits réservés <a href="http://freelanceboost.fr/">FreelanceBoost</a></p>
  </footer>
</body>
</html>
