<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>FreelanceBoost | Ranking Freelances Twitter</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "vendor/modernizr" %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>		
	<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
	<%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
		<!--[if lte IE 8]>
		<div class="wrap cf">
			<div class="alert alert-danger mb-none">Your browser is <em>ancient!</em> You can experience a better web if you <a href="http://browsehappy.com/">upgrade to a modern browser</a>.</div>
		</div>
		<![endif]-->

		<div class="row main">
			<%= yield %>
		</div>				
</body>
</html>